<div class="teePreviewLarge">
				<%= image_tag @item.large_preview.url %>
			</div>
			<div class="teeDetails">
				<h3 class="previewPrice">RM <%= @item.price %></h3>
				<h3 class="previewTitle"><%= @item.title %></h3>
				<div class="sizes">
					<ul>
						<a href="#"><li>S</li></a>
						<a href="#"><li>M</li></a>
						<a href="#"><li>L</li></a>
						<a href="#"><li>XL</li></a>
						<a href="#"><li>XXL</li></a>

					</ul>
				</div>

				<select class="gender">
			  <option value="Guy">Guy</option>
			  <option value="Girl">Girl</option>
			</select>

				<a href="#" class="large blue awesome" id="addToCart">Add to cart</a>

				<div class="paypalLogo">
					<!-- PayPal Logo --><table border="0" cellpadding="0" cellspacing="0" align="left"><tr><td align="center"></td></tr>
<tr><td align="center"><a href="#" onClick="javascript:window.open('https://www.paypal.com/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal.com/en_US/i/bnr/bnr_wePrefer_150x40.gif" border="0" alt="Additional Options"></a></td></tr></table><!-- PayPal Logo -->
				</div>

				<div class="social">

					<h3>Share</h3>
					<iframe src="http://www.facebook.com/plugins/like.php?href=YOUR_URL"
        scrolling="no" frameborder="0"
        style="border:none; width:450px; height:23px"></iframe>
				</div>
			</div>

			<div class="clearfix"></div>

			<h2>Say something</h2>


<!--<%= link_to 'Edit', edit_item_path(@item) %> -->
<!--<%= link_to 'Back', items_path %>-->
